body {
  font-family: sans-serif;
  text-align: center;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div {
  margin: 3rem;
}

label,
select {
  font-size: 1.5rem;
  padding: 0.5rem;
}

select {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid;
  width: 10rem;
  padding: 1rem;
}

.table-title {
  font-size: 2rem;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid;

  font-size: 2rem;
  text-align: center;
}

input[type='radio'] {
  text-align: right;
}

input:focus {
  outline: none;
}
